 
body{
    margin: 0;
    padding: 0;
    background-image: url(computer-program-coding-screen.jpg);
    background-position:cezzzzzzzz;
    height: auto;
    background-repeat: no-repeat;
}
    
    
    
.myimg{
    width:3cm;
    border-radius: 60%;
    height: 3cm;
    outline: solid rgba(68, 67, 67, 0.438) 1px;
}
.container-fluid{
    margin-top:2%;
    display: flex;
    justify-content: center;
    max-width: max-content;
}
li{
    list-style-type:none;
    margin: 15px;
    box-sizing: border-box;
    width:10cm;

    
}
.fa{
    background-color: white;
}
.text{
    text-align: center;
    color:black;
    border-radius: 50px;
    background-color: white;
    font-family: sans-serif;
    padding:10px 22% 10px 25%;
     font-size:larger;
     font-family: sans-serif;
     overflow: hidden;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .fa-facebook{
        background-color:#3b5998;
        padding:10px 20px 10px 20px;
        font-size: large;
        border-radius: 50px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
     .text:hover{
        background-color:rgba(0, 255, 255, 0.5);
        

    }
    .fa-instagram{
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
        padding:10px 18px 10px 20px;
        font-size: large;
        border-radius: 50px;
    }
    .text2{
        text-align: center;
        color: black;
        border-radius: 50px;
        background-color: white;
        font-family: sans-serif;
        padding:10px 20% 10px 24%;
         font-size:larger;
         font-family: sans-serif;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .text2:hover{
            background-color: rgba(0, 255, 255, 0.5);

        }
        .fa-snapchat-ghost{
            background-color:#fffc00;
            border-radius: 50px;
            padding: 10px 17px 10px 20px;
            font-size: large;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .text3{
            text-align: center;
            color: black;
            border-radius: 50px;
            background-color: white;
            font-family: sans-serif;
            padding:10px 21% 10px 25%;
             font-size:larger;
             font-family: sans-serif;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .text3:hover{
            background-color: rgba(0, 255, 255, 0.5);
        }
        .fa-github{
            background-color:black;
            color: white;
            border-radius: 50px;
            padding: 10px 20px 10px 20px;
            font-size: large;
               box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .text4{
            text-align: center;
            color: black;
            border-radius: 50px;
            background-color: white;
            font-family: sans-serif;
            padding:10px 26% 10px 25%;
             font-size:larger;
             font-family: sans-serif;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .text4:hover{
            background-color:rgba(128, 128, 128, 0.486);
        }
        .fa-linkedin{
            background-color: #0072b1;
            padding: 10px 20px 10px 20px;
            font-size: large;
            border-radius: 50px;
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .text5{
            text-align: center;
            color: black;
            border-radius: 50px;
            background-color: white;
            font-family: sans-serif;
            padding:10px 22% 10px 25%;
             font-size:larger;
             font-family: sans-serif;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        .text5:hover{
            background-color: rgba(0, 255, 255, 0.5);
        }

     
a{
    text-decoration: none;
    color: black;
}
.thread{
    background-color: black;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius:50px;
    font-size: large;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
}
.text6:hover{
    background-color:rgba(128, 128, 128, 0.486);
}
.text6{
    text-align: center;
    color: black;
    border-radius: 50px;
    background-color: white;
    font-family: sans-serif;
    padding:10px 25% 10px 25%;
     font-size:larger;
     font-family: sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
.text5:hover{
    background-color: rgba(0, 255, 255, 0.5);
    
}

 /* typewriter    */
.lab{
    color:whitesmoke;
    font-family: sans-serif;
    text-align: center;
    cursor: none;
    overflow: hidden;
    /* border-right: .15em solid black; */
    /* text-shadow: 2px 1px white; */
    white-space:nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
      typing 5.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }


  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


  @keyframes blink-caret {
    from, to { border-color:transparent }
    50% { border-color: rgba(255, 166, 0, 0) }
  }
  .by{
    color: white;
    text-align: center;
    padding:10px;

}
.emoji{
    color:#000;
    
}

  
.container{
    max-width: fit-content;
    /* text-align: center; */
    overflow: hidden;
}
@media  screen and (max-width:420px) {
    body {
      font-size:14px;
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }

    .container{
        width: 100%;
        
        
        
    }
  }
 





    
    

